.filter-card {
  background-color: var(--color-listingbody-bg-card);
  border-radius: 5px;
  height: 200px;
  margin-top: 20px;
  padding: 20px;
}

.filter-card-form {
  display: flex;
  flex-direction: column;
}

.filter-card-form input {
  border: 1px solid var(--color-filter-font-input-border);
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
}

.filter-card-form input:focus {
  outline: none;
}

.filter-card-form input::placeholder {
  color: var(--color-filter-font-placeholder);
  font-size: 16px;
}

.filter-card-btn {
  background-color: var(--color-filter-bg-btn);
  color: var(--color-filter-font-btn);
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
