#header-general {
  background-color: var(--color-header-bg);
  height: 70px;
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-title {
  color: var(--color-header-font-title);
  font-size: 20px;
}
